/* COMMON */
:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #FDDCC4;
  --white: #ffffff; /*color-light-xl*/
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-dark-3xl: #292929;
  --color-dark-l: #545454;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 0.06em;
}

h2, h3 {
  line-height: 1.3;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 20px;
  line-height: 23px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: none;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.btn-color {
  background-color: var(--color-primary);
}

.btn-color:hover {
  background-color: var(--color-primary-light);
}

.btn-transparent {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.btn-transparent:hover {
  background-color: var(--color-primary);

}

img {
  display: flex;
  width: 100%;;
  height: auto;
}

.header,
.main,
.footer {
}

.navigation__content,
.notonly__content,
.about__content,
.pets__content,
.footer__content {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.navigation__section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 60px 0 0;
}

.navigation__content {
  display: flex;
  justify-content: space-between;
}

.logo__title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-primary);
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--white);
}

.menu__list {
  display: flex;
  align-items: center;
  color: var(--color-dark-s);
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-size: 15px;
  line-height: 1.6;
}

.menu__link--current {
  position: relative;
  color: var(--color-light-s);
  cursor: default;
}

.menu__link:hover {
  color: var(--color-light-s);
}

.menu__link--current::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.main__block,
.help-shelter {
  height: 700px;
}

/* NOT ONLY */
.notonly__wrapper {
  background: url('../../assets/images/notonly-back.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 180px;
}
.notonly__content {
  display: flex;
  justify-content: space-between;
}

.notonly__text--wrapper {
  width: 460px;
  padding-top: 163px;
}

.notonly__title {
  width: 350px;
  margin-bottom: 42px;
  color: var(--white);
  letter-spacing: 0;
}

.notonly__text {
  margin-bottom: 42px;
  line-height: 1.6;
  color: var(--color-dark-s);
}

.notonly__image--wrapper {
  width: 698px;
  height: auto;
}

.notonly__btn--wrapper {
  width: 207px;
  height: 52px;
}

.notonly__btn {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.notonly__image--wrapper {
  display: flex;
}

.notonly__image {
  width: 698px;
  height: 728px;
}

/* ABOUT */
.about__wrapper {
  padding: 80px 0 100px;
}

.about__content {
  display: flex;
  padding-left: 175px;
}

.about__image--wrapper {
  width: 300px;
  height: 408px;
  margin-right: 120px;
}

.about__text-content {
  padding-top: 15px;
  width: 430px;
  color: var(--color-dark-l)
}

.about__title {
  width: 370px;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 25px;
  line-height: 1.6;
}

.about__text:last-child {
  margin: 0;
}

/* PETS */
.pets__wrapper {
  background: var(--color-light-l);
  padding: 80px 0 100px;
}

.pets__wrapper button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pets__content {
  position: relative;
  color: var(--color-dark-l);
}

.pets__title--section {
  width: 400px;
  margin: 0 auto 60px;
  text-align: center;
}

.pets__slider--wrapper {
  margin-bottom: 60px;
  width: 100%;
}

.pets__slider--content {
  width: 990px;
  margin: 0 auto;
}

.pets__list {
  display: flex;
}

.pets__item:not(:last-child) {
  margin-right: 90px;
}

.pets__item {
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: var(--color-light-s);
  border-radius: 9px;
}

.pets__item:hover {
  background-color: var(--white);;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets__item:hover .pets__btn {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: background-color 0.2s ease-in-out;
}

.pets__image--wrapper {
  width: 270px;
  height: 270px;
}

.pets__title--wrapper {
  padding-top: 30px;
}

.pets__title {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.pets__btn--wrapper {
  width: 187px;
  height: 52px;
  margin: 0 auto 30px;
}

.pets__btn {
  font-size: 15px;
  line-height: 1.3;
  color: var(--color-dark-3xl);
}

.slider-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  font-size: 0;
}

.slider-btn:hover {
  background-color: var(--color-primary);
}

.pets__btn--left,
.pets__btn--right {
  position: absolute;
  top: calc(50% + 50px);
}

.pets__btn--left {
  left: 0;
}

.pets__btn--left:before,
.pets__btn--right:before,
.pets__btn--left:after,
.pets__btn--right:after {
  content: '';
  position: absolute;
}

.pets__btn--left:before,
.pets__btn--right:before {
  left: calc(50% - 6px);
  top: calc(50% - 1px);
  width: 14px;
  height: 2px;
  background-color: var(--color-dark-3xl);
}

.pets__btn--left:after,
.pets__btn--right:after {
  top: 20px;
  border: 4px solid transparent;
}

.pets__btn--left:after {
  left: calc(50% - 12px);
  border-right: 4px solid var(--color-dark-3xl);
}

.pets__btn--right:after {
  right: calc(50% - 12px);
  border-left: 4px solid var(--color-dark-3xl);
}

.pets__btn--right {
  right: 0;
}

.pets__btn-primary--wrapper {
  width: 261px;
  height: 52px;
  margin: 0 auto;
}

.pets__btn-primary--wrapper button {
  color: var(--color-dark-3xl);
}

/* HELP */

.help__wrap {
  background-color: white;
  padding: 80px 0 42px;
}

.help__title {
  margin: 0 auto 60px;
  text-align: center;
  color: var(--color-dark-l);
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1026px;
}

.help__item {
  margin-right: 11.59%;/*11.59*/
  margin-bottom: 55px;
}

.help__item:nth-child(5),
.help__item:last-child {
  margin-right: 0;
}

.help__image--wrap {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.help__item--title {
  text-align: center;
  color: var(--color-dark-l);
}

/*DONATION*/
.donation__wrap {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.donation__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 915px;
}

.donation__image--wrap {
  padding-top: 12px;
  max-width: 505px;
}

.donation__text--content {
  padding-top: 2px;
  width: 380px;
  color: var(--color-dark-l);
}

.donation__title {
  margin-bottom: 20px;
  text-align: left;
}

.donation__text--subtitle {
  margin-bottom: 20px;
}

.donation__link.card-number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 349px;
  height: 43px;
  line-height: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: var(--color-primary);
  border-radius: 9px;
  box-sizing: border-box;
  letter-spacing: 0.06em;
}

.donation__link.card-number:hover {
  background-color: transparent;
}

.card-number__image--wrap {
  display: inline-block;
  margin-right: 15px;
  width: 30px;
  height: 23px;
}

.donation__text {
  padding-bottom: 1px;
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-dark-m);
}

/* FOOTER */
/*FOOTER*/
.footer {
  padding-top: 40px;
  background: 
    url(../../assets/images/bg-lines.png) repeat,
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
  /*
  background: 
    url(../../assets/images/bg-lines.png) repeat,
    url(../../assets/images/bg-footer-gradient.png) no-repeat;*/
  background-size: auto, cover;;
}

.footer__content {
  display: flex;
}

.footer__content * {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer__item--links,
.footer__item--address {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 16px;
  margin-bottom: 60px;
}

.footer__item--links {
  width: 279px;
  margin-right: 13.33%;
}

.contact__title {
  text-align: left;
  color: white;
}

.contact__title--links {
  margin-bottom: 40px;
}

.contact__text--mail {
  margin-bottom: 40px;
}

.contact__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  /*border: var(--border-dash);*/
}

.contact__link:hover,
.contact__link:hover {
  opacity: 0.5;
}

.contact__link:active,
.contact__link:active {
  transform: scale(0.9);
}

.contact__link.mail-link,
.contact__link.phone-link {
  padding-left: 60px;
}

.contact__link::before,
.contact__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.contact__link.mail-link::before,
.contact__link.phone-link::before {
  width: 40px;
  height: 32px;
  
  background-size: 40px;
}

.contact__link.mail-link::before {
  background: url('../../assets/icons/logo-mail.svg') no-repeat 0 3px;
}

.contact__link.phone-link::before {
  background: url('../../assets/icons/logo-phone.svg') no-repeat 0 0;
}

.footer__item--address {
  width: 302px;
}

.contact__title--address {
  margin-bottom: 34px;
}

.contact__address:not(:last-child) {
  margin-bottom: 32px;
}

.contact__link.boston-link {
  height: 46px;
}

.contact__link.map-link {
  padding-left: 40px;
}

.contact__link.map-link::before {
  width: 22px;
  height: 32px;
  
  background-size: 22px 32px;
}

.contact__link.boston-link::before {
  top: 6px;
}

.contact__link.map-link::before {
  background: url('../../assets/icons/logo-map.svg') no-repeat 0 0;
}

.footer__item--image {
  align-self: flex-end;
  margin-left: auto;
  max-width: 300px;
  max-height: 310px;

  /*border: var(--border-dash);*/
}

.footer__image--wrap {
  width: 100%;
}

.footer__image {
  max-height: 310px;
}